[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
flake8 = "*"
rope = "*"
mypy = "*"
types-python-dateutil = "*"
black = "*"

[packages]
python-dateutil = "*"
discord-py = "2.3.1"
yfinance = "0.2.32"

[requires]
python_version = "3.10"
