[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
flake8 = "*"
rope = "*"
mypy = "*"
types-python-dateutil = "*"

[packages]
python-dateutil = "*"
py-cord = {ref = "02e346dbf05086bcf3358e3706df8c41329ea8ba", git = "https://github.com/Pycord-Development/pycord"}

[requires]
python_version = "3.9"
